.red {
  color: red;
  background-color: aquamarine;
}
.green {
  color: green;
}
.inc-dec-c {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
}
.header {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  background-color: rgb(24, 24, 255);
  color: white;
  display: flex;
  justify-content: space-around;
}
.header a{
  color: white;
  text-decoration: none;
}
.footer {
  text-align: center;
  font-size: 30px;
  padding: 40px 10px;
  background-color: rgb(46, 46, 46);
  color: white;

}
.home-c{
  display: flex;
  flex-direction: column;
  min-height: 100vh ;
  justify-content: space-between;
  background-color: #ddd;
}
.studentbox{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  
}
.logo-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.red1{
  color: red;
}
.green1{
  color: green;
}